@font-face {
  font-family: LCARS;
  src: url(Swiss-911-Ultra-Compressed-BT_43269.ttf);
  font-style: normal;
}

html, body {
  font-family: "LCARS";
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  background: black;
  min-width: 320px; /* Prevents layout from breaking on extremely small viewports */
}

/*Removes all default browser styling for legends and fieldsets:*/
legend {
  padding: 0;
  display: table;
  width: 100%; /* Required in Firefox for "text-align: right" to work inside legend */
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

.exam-container {
  float: left;
  box-sizing: border-box;
  text-align: right;
  display: inline-flex;
  flex-direction: column;
  width: 100%; 
  padding-bottom: 2.5rem;
  padding-right: 3%;
}

.image-container {
  float: left;
  box-sizing: border-box;
  text-align: right;
  display: inline-flex; 
  flex-direction: column;
  width: 100%; 
  padding-left: 2%;
  padding-right: 2%;
}

.clear { 
  clear: both; 
}

.score-box {
  box-sizing: border-box;
  position: relative;
}

.sb-bracket {
  box-sizing: border-box;
}

.sb-content {
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
}

.score-pips, .rank {
  float: right;
}

.pips-img {
  height: 1em;
  width: auto;
}

.img-box {
  box-sizing: border-box;
  padding-top: 2.7em;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.image {
  display: inline-block;
  max-width: 90%;
  max-height: 20em;
}

.question-number {
  margin-top: 0em !important;
  margin-bottom: .75em;
  font-size: 195%;
}

.question {
  font-size: 1.4rem;
  margin-top: 0.1em;
  margin-bottom: 1.5em;
}

.question-box {
  margin-top: 0em;
}

.congrats {
  margin-top: 0.1em !important;
}

.correct {
  color: #3668ff !important; 
  font-size: 195%; 
  margin-top: 0em; 
  margin-bottom: .1em;
}

.incorrect {
  color: rgb(222, 23, 23) !important; 
  font-size: 195%; 
  margin-top: 0em; 
  margin-bottom: .1em;
}

.INLINE-ANSWER {
  color: #3668ff !important;
}

.dr-orange-text-color {
  color: #FF9900 !important;
}

.dr-golden-arch-bg {
  background-color: #FFCC99;
}

.button-start {
  margin-top: 1.6rem;
}

.button-next {
  margin-top: 0.8rem;
}

p {
  font-size: 1.4rem;
}

.score-box p {
  margin-top: .1em;
  margin-bottom: .1em;
}

/*
Additional LCARS classes, authored by D.R. (Stored in index.css 
instead of lcars.css in order to avoid some ":after" effects):
*/
.lcars-bar-0 { /*DR*/
  position: relative;
  color: #000;
  height: 10%;
  width: 100%;
  margin: 0;
  display: inline-block;
  background-color: #ff9;
}
.lcars-bar-1 { /*DR*/
  position: relative;
  color: #000;
  height: 40%;
  width: 100%;
  margin: 0;
  display: inline-block;
  background-color: #f90;
}
.lcars-bar-2 { /*DR*/
  position: relative;
  color: #000;
  height: 13%;
  width: 100%;
  margin: 0;
  display: inline-block;
  background-color: #9cf;
}
.lcars-bar-3 { /*DR*/
  position: relative;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  display: inline-block;
  background-color: #99c;
}
.lcars-bar-4 { /*DR*/
  position: relative;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  display: inline-block;
  background-color: #99c;
}
.lcars-u-2-1-dr { /*DR*/
  width: 14.25rem;
  min-width: 14.25rem;
  height: 2.5rem;
  min-height: 2.5rem;
}

/* MEDIA QUERIES ================================== */

/*for-phone-landscape-up*/
@media only screen and (min-width: 600px) { 
  .exam-container, .image-container {
    width: 50%; 
  }
}
/* for-tablet-landscape-up */
@media only screen and (min-width: 1000px) {
  html, body {
    font-size: 20px;
  }
  .question-number {
    margin-bottom: 1em;
  } 
}
/* for-desktop-up */
@media only screen and (min-width: 1200px) {
  html, body {
    font-size: 20px;
  }
  .question-number-answer, .question-box, .answer {
    max-width: 34vw;
    margin-left: auto;
  }
  .score-box, .img-box {
    max-width: 34vw;
  }
}
/* for-big-desktop-up */
@media only screen and (min-width: 1800px) {
  html, body {
    font-size: 25px;
  }
}
